body {
  font-family: sans-serif;
}

#card-container {
  box-shadow: 4px;
  border-color: #cfd9de;
  padding: 12px;
  margin: 2rem;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  gap: 1rem;
}
#full-name {
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
#metadata > p {
  color: #71767b;
  font-family: sans-serif;
  font-size: 15px;
  margin-right: 4px;
}
#action-tab > div > p {
  color: #536471;
  font-size: 13px;
  margin-left: 10px;
}
#action-tab {
  margin-top: -16px;
  max-width: 425px;
}

#thumbnail {
  width: 48px;
  border-radius: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
.justify-start {
  justify-content: start;
}

.items-start {
  align-items: start;
}
